*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background: #262626;
  font-family: "Poppins", sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 6rem;
  gap: 6rem;
}

.yubtub {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #000000;
}

.video {
  position: relative;
}
.video__main {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
  border: 0.5rem solid #6441a5;
}
.video__main:hover {
  cursor: pointer;
}
.video__channel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #444444;
  padding: 2rem;
}
.video__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10rem;
  gap: 2rem;
}
.video__uploader {
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.5rem solid #6441a5;
}
.video__uploader:hover {
  cursor: pointer;
}
.video__title {
  font-size: 2.2rem;
  color: #eee;
}
.video__controls {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}
.video__button {
  background: none;
  border: 0;
  padding: 0;
  color: #606060;
}
.video__button--star {
  font-size: 3rem;
}
.video__button--star:hover {
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.comments {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1.5rem;
}
.comments__comment {
  background-color: #444444;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  font-size: 2rem;
  color: #eee;
}
.comments__uploader {
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.comments__button {
  width: 20rem;
  height: 5rem;
  border-radius: 10rem;
  background: #b9a3e3;
  border: none;
}
.comments__button:hover {
  background: #6441a5;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}
.comments__comment--add {
  height: 10rem;
}
.comments__input {
  width: 80%;
  height: 100%;
  background: none;
  border: none;
  font-size: 2rem;
  padding-left: 2rem;
  color: #eee;
}

.aside {
  display: flex;
  width: 25%;
  gap: 2rem;
  flex-direction: column;
}
.aside__video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border: 0.3rem solid #6441a5;
}
.aside__video:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .main {
    padding: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    padding: 3rem;
  }
  .video__title {
    font-size: 1.7rem;
  }
  .video__button--star {
    font-size: 4rem;
  }
  .comments__comment {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 850px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .yubtub,
.aside {
    width: 100%;
  }
  .aside {
    flex-wrap: wrap;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
  }
  .aside__video {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .aside {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .aside__video {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
