.comments {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem;

    &__comment {
        background-color: #444444;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2rem;
        gap: 2rem;
        font-size: 2rem;
        color: #eee;
    }

    &__uploader {
        width: 7rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &__button{
        width: 20rem;
        height: 5rem;
        border-radius: 10rem;
        background: #b9a3e3;
        border: none;

        &:hover{
            background: #6441a5;
            transition: 0.3s;
            cursor: pointer;
            color: white;
        }
    }

    &__comment--add {
        height: 10rem;
    }

    &__input {
        width: 80%;
        height: 100%;
        background: none;
        border: none;
        font-size: 2rem;
        padding-left: 2rem;
        color: #eee;
    }
}
