.video {
    position: relative;

    &__player {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }

    &__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        background-color: #b2b1b1;
        padding: 2rem;
    }

    &__details {
        display: flex;
        flex-direction: row;
        height: 10rem;
        align-items: center;
        gap: 2rem;
    }

    &__uploader {
        width: 7rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &__title {
        font-size: 2.2rem;
    }

    &__controls {
        display: flex;
        gap: 2rem;
        flex-direction: row;
    }

    &__button {
        background: none;
        border: 0;
        padding: 0;
        color: #606060;

        &--star {
            font-size: 3rem;
        }

        &--arrowUp {
            font-size: 3rem;
        }
    }
}